<h1>Posts#index</h1>

<div class='d-flex justify-content-between m-2'>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-dark block' %>
  <%= link_to 'All Change Posts', change_posts_path, method: :post, class: 'btn btn-dark block text-danger' %>
</div>

<table class='table table-hober table-striped'>
  <thead class='thead-dark'>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
